  *{
  	box-sizing: border-box;
  }
  .a{
			background-color:skyblue;
			padding:30px;
			width: 100%;
			float: left;
		}
		.b{
			background-color:purple;
			padding: 10px;
			width: 100%;
			float: left;
		}
		.c{
			background-color: yellow;
			padding:30px;
			width: 100%;
			float: left;
			
		}
		.d{
			background-color: black;
			padding: 10px;
			width: 60%;
			float: left;
			margin-bottom: 10px;
		}
    	.e{
			background-color: black;
			padding: 10px;
			width: 60%;
			float: left;
			margin-bottom: 10px;
		}
		.f{
			background-color: black;
			padding: 10px;
			width: 60%;
			float: left;
		}
		.g{
			background-color: blue;
			padding: 10px;
			width: 100%;
			float: left;
		}
		.h{
			background-color: black;
			padding: 10px;
			width: 30%;
			float: right;
			height: 70px;
		}